@font-face {
    font-family: "OpenSans Bold"; 
    src: url(../fonts/OpenSans-Bold.ttf);
    font-weight: 700;
    font-style: normal;
   }

   @font-face {
    font-family: "OpenSans SemiBold"; 
    src: url(../fonts/OpenSans-SemiBold.ttf);
    font-weight: 600;
    font-style: normal;
   }

   @font-face {
    font-family: "OpenSans Regular"; 
    src: url(../fonts/OpenSans-Regular.ttf);
    font-weight: 400;
    font-style: normal;
   }

   @font-face {
    font-family: "OpenSans Light"; 
    src: url(../fonts/OpenSans-Light.ttf);
    font-weight: 300;
    font-style: normal;
   }

   @font-face {
    font-family: "Roboto Black"; 
    src: url(../fonts/Roboto-Black.ttf);
    font-weight: 900;
    font-style: normal;
   }

   @font-face {
    font-family: "Roboto Bold"; 
    src: url(../fonts/Roboto-Bold.ttf);
    font-weight: 700;
    font-style: normal;
   }

   @font-face {
    font-family: "Roboto Regular"; 
    src: url(../fonts/Roboto-Regular.ttf);
    font-weight: 400;
    font-style: normal;
   }

   @font-face {
    font-family: "Roboto Light"; 
    src: url(../fonts/Roboto-Light.ttf);
    font-weight: 300;
    font-style: normal;
   }

body {
    margin: 0;
    padding: 0;
}

main {
    position: relative;
    width: 1170px;
    margin: auto; 
}

.header {
    width: 1100px;
    height: 50px;
    margin: auto;    
}

.logo {
    font-family: "Roboto";
    font-weight: 300;
    font-size: 30px;
    text-transform: uppercase;
    float: left;
    color: #555252;
}

.logo-decoration {
    font-family: "Roboto";
    font-weight: 900;
    color: #1abc9c; 
}

.menu {
    float: right;
    width: 495px;
    list-style: none;
    font-family: Open Sans;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 27px;
    padding: 0;
}

.list-item {
    float: left;
    text-decoration: none;
    font-size: 14px;
    list-style: none;
}

.list-item:nth-child(-n+5) {
    margin-right: 35px;
}

.menu a {
    text-decoration: none;
    color: #0f0101;
}

a:hover {
    color: #1abc9c;
}

h2 {
    font-family: Roboto, sans-serif;
    font-weight: 1150;
    font-size: 48px;
    text-transform: uppercase;
    text-align: center;
    color: #515151;
    margin-top: 100px;
    margin-bottom: 0;
}

h2::after {
    display: block;
    width: 164px;
    height: 7px;
    background-color: #1abc9c;
    content: '';
    margin-top: 32px; 
    margin-left: auto;
    margin-right: auto;
}

.clearfix::after {
    content: " ";
    display: table;
    clear: both;
}

.catalog {
    width: 1165px;
    margin-top: 90px;
}

.catalog-item {
    float: left;
    margin-top: 30px;
    margin-right: 35px;
    width: 255px;
    height: 322px;
    box-sizing: border-box;
    background-color: #323232;
}

.catalog-item:hover {
    background-color: #1abc9c;
} 

img {
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
    object-fit: cover;
}

.price {
    height: 40px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.price p {
    float: left;
    width: 150px;
    height: 20px; 
    font-family: Roboto;
    font-weight: 900;
    font-size: 18px;
    text-transform: uppercase;
    color: #ffffff;
    margin: 0px;
    padding: 10px;
}

.price span {
    float: right;
    width: 32px;
    height: 20px;
    font-family: Roboto;
    font-weight: 900;
    font-size: 18px;
    text-transform: uppercase;
    color: #ffffff;
    padding: 10px;
    background: rgba( 140, 140, 140, 0.70);
  }

.news {
    width: 1165px;
    height: 695px;
    margin: auto;
}

.news-list {
    width: 1170px;
    height: 695px;
    margin-top: 85px;
    padding: 0;
}

.news-item {
    float: left;
    margin-right: 35px;
    list-style: none;
    width: 350px;
    height: 500px;
}

h4 {
    font-family: "OpenSans-SemiBold", sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 26px; 
}

h4::after {
    display: block;
    width: 136px;
    height: 3px;
    background-color: #1abc9c;
    content: '';
    margin-top: 10px;
}

.news-block p {
    font-family: "OpenSans-Regular", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    text-align: justify;
}

.button {
    width: 160px;
    height: 40px;
    background-color: #1abc9c;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 3px; 
}

.button p {
    width: 160px;
    height: 30px;
    margin-top: 7px;
    margin-bottom: 5px;
    font-family: "OpenSans-Light", sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #ffffff;
    text-transform: capitalize;
    text-align: center;
    cursor: pointer;
}

