@font-face {
    font-family: "OpenSans Bold"; 
    src: url(../fonts/OpenSans-Bold.ttf);
    font-weight: 700;
    font-style: normal;
   }

   
   @font-face {
    font-family: "OpenSans Regular"; 
    src: url(../fonts/OpenSans-Regular.ttf);
    font-weight: 400;
    font-style: normal;
   }

   @font-face {
    font-family: "Roboto Black"; 
    src: url(../fonts/Roboto-Black.ttf);
    font-weight: 900;
    font-style: normal;
   }

   @font-face {
    font-family: "Roboto Light"; 
    src: url(../fonts/Roboto-Light.ttf);
    font-weight: 300;
    font-style: normal;
   }


   * {
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

body {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    background-color: #e9f0fd;
}

header {
    position: inherit;
    margin: 0;
    padding: 0;
}

.navigation {
    position: relative;
    width: 1110px;
    height: 93px;
    margin: auto; 
}

.logo {
    float: left;
    font-family: "Roboto Light";
    font-weight: 300;
    font-size: 30px;
    text-transform: uppercase;
    color: #555252;
    margin-top: 34px;
}

.logo-decoration {
    font-family: "Roboto Black";
    font-weight: 900;
    color: #1abc9c; 
}

.menu {
    float: right;
    width: 495px;
    height: 14px;
    list-style: none;
    font-family: "OpenSans Bold";
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 43px;
    padding: 0;    
}

.list-item {
    float: left;
    text-decoration: none;
    font-size: 14px;
    list-style: none;
}

.list-item:nth-child(-n+5) {
    margin-right: 35px;
}

.menu a {
    text-decoration: none;
    color: #0f0101;
}

a:hover {
    color: #1abc9c;
}

main {
    position: inherit;
    margin: 0;
}

.wrapper {
    position: relative;
    width: 1263px;
    height: 472px;
    left: 50%;
    transform: translate(-50%);
}

/* .wrapper {

    position: relative;
    box-sizing: content-box;
    background-image: url(/img/four-girls.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
} */


.text {
    display: inline-block;
    position: absolute;
    width: 1110px;
    height: 110px;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.first-title {
    width: 770px;
    font-family: "Roboto Black";
    font-weight: 900;
    font-size: 60px;
    text-transform: uppercase;
    color: #ffffff;
    margin-left: 170px;
    margin-top: -10px;
}

.info {
    font-family: "Roboto Light";
    font-weight: 300;
    font-size: 22px;
    text-transform: uppercase;
    color: #ffffff;
    margin-left: 170px;
    margin-top: 12px;
}

.left {
    position: absolute;
    width: 104px;
    height: 104px;
    background-color: rgba(78, 198, 171, 0.65);
    left: 0;
    bottom: 0;
    cursor: pointer;
}

.right {
    position: absolute;
    width: 104px;
    height: 104px;
    background-color: rgba(78, 198, 171, 0.65);
    right: 0;
    bottom: 0;
    cursor: pointer;
}

.left::before {
    position: absolute;
    width: 104px;
    height: 104px;
    content: "";
    background-image: url(../img/before.png);
    background-repeat: no-repeat;
    background-position: center;
    left: 0px;
    bottom: 0px;
}

.right::after {
    position: absolute;
    width: 104px;
    height: 104px;
    content: "";
    background-image: url(../img/after.png);
    background-repeat: no-repeat;
    background-position: center;
    right: 0px;
    bottom: 0px;
}

.left:hover {
    background-color: #1abc9c;
}

.right:hover {
    background-color: #1abc9c;
}


.gallery {
    width: 1150px;
    margin: auto;
    left: 10px; 
}

.clearfix::after {
    content: " ";
    display: table;
    clear: both;
}

.catalog {
    width: 1110px;
    margin-top: 90px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 100px;
}

.catalog-item {
    float: left;
    position: relative;
    margin-top: 30px;
    margin-right: 30px;
    width: 255px;
    height: 322px;
    box-sizing: border-box;
    background-color: #323232;
    cursor: pointer;
}

.catalog-item:hover {
    background-color: #1abc9c;
}

.catalog-item:nth-child(4n) {
    margin-right: 0px;
}

.catalog-item:nth-child(n+5) {
    margin-bottom: 0px;
}

.price {
    height: 40px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.price p {
    float: left;
    width: 150px;
    height: 20px; 
    font-family: "Roboto Black";
    font-weight: 900;
    font-size: 18px;
    text-transform: uppercase;
    color: #ffffff;
    margin: 0px;
    padding: 10px;
}

.price span {
    float: right;
    width: 32px;
    height: 20px;
    font-family: "Roboto Black";
    font-weight: 900;
    font-size: 18px;
    text-transform: uppercase;
    color: #ffffff;
    padding: 10px;
    background: rgba( 140, 140, 140, 0.70);
    cursor: pointer;
  }

.rectangle {
    position: absolute;
    width: 235px;
    height: 260px;
    top: 10px;
    left: 10px;
    background-color: rgba( 0, 0, 0, 0.54);
    z-index: 5;
    opacity: 0;
}

button {
    position: absolute;
    top: 80px;
    width: 50px;
    height: 50px;
    padding-top: 5px;
    font-family: "pe-icon-7-stroke";
    font-weight: 300;
    font-size: 30px;
    text-transform: uppercase;
    color: #ffffff;
    border: solid 1px #ffffff;
    background-color: transparent;
    cursor: pointer;
}

.like {
    left: 35px;
}

.shuffle {
    left: 93px;
}

.clock {
    right: 35px;
}

.cart {
    position: absolute;
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
    width: 166px;
    height: 50px;
    top: 138px;
    left: 35px;
    border: solid 1px #ffffff;
    background-color: #323232;
    cursor: pointer;
}

.pe-7s-cart {    
    font-family: "pe-icon-7-stroke";
    font-weight: 300;
    font-size: 30px;
    color: #ffffff;
}

.cart-info {    
    font-family: "OpenSans Regular", sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    color: #fefefe;
}

.rectangle button:hover {
    background-color: #1abc9c;
}

.rectangle div:hover {
    background-color: #1abc9c;
}

.catalog-item:hover .rectangle{
    opacity: 1;
}

img {
    display: block;
    width: 100%;
    object-fit: cover;
}

.second-title {
    font-family: "Roboto Black", sans-serif;
    font-size: 48px;
    text-transform: uppercase;
    color: #515151;
    text-align: center;
    margin-top: 95px;
}

.second-title::after {
    content: '';
    display: block;    
    width: 164px;
    height: 7px;
    background-color: #1abc9c;    
    margin-top: 32px; 
    margin-left: auto;
    margin-right: auto;
}

footer {
    position: inherit;
    height: 20px;
    margin: 0;
    padding: 40px 410px 40px 410px;
    background-color: #323232;
}

.footer {
    width: 420px;
    height: 20px;
    font-family: "OpenSans Regular", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #fefefe;
    text-align: center;
    margin: auto;
}

.footer span {
    color: #1abc9c;
}