@media (min-width: 768px) {
    .container {
        max-width: 748px;
    }

    .background {
        min-height: 700px;
        background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.10), rgba(0, 0, 0, 0.10)), url(../images/background-2.png);
    }

    header {
        display: flex;
        justify-content: space-between;
        padding: 38px 50px 0 50px;
    }

    .logo {
        margin-top: 8px;
    }

    .title-section .title {
        width: 506px;
        font-size: 52px;
        line-height: normal;
        margin-bottom: 25px;
        margin-top: 120px;
    }

    .title-section .subtitle {
        margin-bottom: 35px;
    }

    .title-section .search-button {
        padding: 10px 22px 10px 22px;
    }

    .partners h3 {
        width: 748px;
        margin-bottom: 35px;
    }

    .profiles {
        width: 490px;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .list-item {
        margin-bottom: 60px;
    }

    .list-item:nth-child(2n+2) {
        margin-bottom: 0;
    }

    .one {
        order: 1;
    }

    .three {
        order: 2;
    }

    .two {
        order: 3;
    }

    .four {
        order: 4;
    }

    .button-overview {
        margin-top: 40px;
        margin-bottom: 40px;
        padding: 10px 28px 10px 28px;
    }
}

@media (min-width: 940px) {
    .container {
        max-width: 1440px;
    }

    .background {
        background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.10), rgba(0, 0, 0, 0.10)), url(../images/background-3.png);
    }

    header {
        margin: auto;
        width: 940px;
    }

    .profiles {
        width: 940px;
        display: flex;
        flex-direction: row;
    }

    .list-item {
        margin-bottom: 0;
    }

    h3 {
        width: 1440px;
    }
}